parameters:
  level: 0
  paths:
    - system/classes
    - modules
    - application/classes
  excludePaths:
    - vendor
    - system/tests
    - modules/*/tests
    - application/tests
  ignoreErrors:
    - '#is implicitly nullable via default value null.#'
    - '#Function _.* not found.#'
    - '#Method .* should return .* but return statement is missing.#'
